version: "3.8"

services:
  backend:
    build:
      context: .
    container_name: backend
    restart: always
    env_file:
      - .env
    ports:
      - "5002:5002"
    networks:
      - stock-net
    volumes:
      - ./backend:/app
      - /app/node_modules

networks:
  stock-net:
    driver: bridge
